# **Waze (case-study)**
<img src="https://d3c33hcgiwev3.cloudfront.net/imageAssetProxy.v1/uLw66G_TRxGbC6vqUOqZxQ_d4a83b75e8284b80ad8ca8ae65c759f1_image.png?expiry=1694217600000&hmac=kFEDJeE1d4j9tPl7HXFErj3lTiKp416ZbC8sV52hHvo"/>

## Understand The Data
This stage aims to investigate and understand the data provided, use a data frame constructed within Python, perform a cursory inspection of the provided dataset, and inform team members of my findings.

### Approach
1. Review the data dictionary
2. Download the data and build a dataframe
3. Identify the variables
4. Assess quality of the data using standard data quality dimensions
     - Uniqueness: Recorded that are Duplicated 
     - Consistency: Values Free from Contradiction
     - Relavency: Data Items with Value Meta-data
     - Validity: Data Containing Allowable Values
     - Completeness: Null values
5. Select the most important variables for training our model (requested from my teammate)
6. Share an executive summary with my team <br><br><br>

## 1. Review the data dictionary
<br>
<div class="cds-203 cds-204" style="min-height: 0px; height: auto; transition-duration: 431ms;"><div class="cds-206"><div class="cds-207"><div aria-labelledby="cds-react-aria-107-accordion-header" id="cds-react-aria-107-accordion-panel" role="region"><div class="css-gvhm8"><div class="cds-108 css-1emeb4e cds-110"><div class="rc-CML" dir="auto"><div data-testid="cml-viewer" class="css-1kgqbsw"><div><span><span></span></span><figure role="figure" contenteditable="false"><img src="https://d3c33hcgiwev3.cloudfront.net/imageAssetProxy.v1/oIhLOuBtRyON2zPE5WEi2w_a42188c11f0848f6b987dd544df5f3f1_image.png?expiry=1694217600000&amp;hmac=yjXgM695-SvWYp9o3KJv_ggRtA57T7_yO0fBOIsA15o" alt="" data-asset-id="oIhLOuBtRyON2zPE5WEi2w" class="cml-image-default undefined"></figure></div><p data-text-variant="body1"><span><span>This project uses a dataset called waze_dataset.csv. It contains synthetic data created for this project in partnership with Waze. Examine each data variable gathered.&nbsp;</span></span></p><p data-text-variant="body1"><span><span>The dataset contains:</span></span></p><p data-text-variant="body1"><span><strong><span>14,999 rows </span></strong></span><span><span>– each row represents one unique user&nbsp;</span></span></p><p data-text-variant="body1"><span><strong><span>12 columns</span></strong></span></p><div class="css-1yr0py9"><table><thead><tr><th scope="col"><p data-text-variant="body1"><span><strong><span>Column name</span></strong></span></p></th><th scope="col"><p data-text-variant="body1"><span><strong><span>Type</span></strong></span></p></th><th scope="col"><p data-text-variant="body1"><span><strong><span>Description</span></strong></span></p></th></tr></thead><tbody><tr><td><p data-text-variant="body1"><span><span>label</span></span></p></td><td><p data-text-variant="body1"><span><span>obj</span></span></p></td><td><p data-text-variant="body1"><span><span>Binary target variable (“retained” vs “churned”) for if a user has churned anytime during the course of the month&nbsp;</span></span></p></td></tr><tr><td><p data-text-variant="body1"><span><span>sessions</span></span></p></td><td><p data-text-variant="body1"><span><span>int</span></span></p></td><td><p data-text-variant="body1"><span><span>The number of occurrence of a user opening the app during the month</span></span></p></td></tr><tr><td><p data-text-variant="body1"><span><span>drives</span></span></p></td><td><p data-text-variant="body1"><span><span>int</span></span></p></td><td><p data-text-variant="body1"><span><span>An occurrence of driving at least 1 km during the month</span></span></p></td></tr><tr><td><p data-text-variant="body1"><span><span>device</span></span></p></td><td><p data-text-variant="body1"><span><span>obj</span></span></p></td><td><p data-text-variant="body1"><span><span>The type of device a user starts a session with</span></span></p></td></tr><tr><td><p data-text-variant="body1"><span><span>total_sessions</span></span></p></td><td><p data-text-variant="body1"><span><span>float</span></span></p></td><td><p data-text-variant="body1"><span><span>A model estimate of the total number of sessions since a user has onboarded</span></span></p></td></tr><tr><td><p data-text-variant="body1"><span><span>n_days_after_onboarding</span></span></p></td><td><p data-text-variant="body1"><span><span>int</span></span></p></td><td><p data-text-variant="body1"><span><span>The number of days since a user signed up for the app</span></span></p></td></tr><tr><td><p data-text-variant="body1"><span><span>total_navigations_fav1</span></span></p></td><td><p data-text-variant="body1"><span><span>int</span></span></p></td><td><p data-text-variant="body1"><span><span>Total navigations since onboarding to the user’s favorite place 1</span></span></p></td></tr><tr><td><p data-text-variant="body1"><span><span>total_navigations_fav2</span></span></p></td><td><p data-text-variant="body1"><span><span>int</span></span></p></td><td><p data-text-variant="body1"><span><span>Total navigations since onboarding to the user’s favorite place 2</span></span></p></td></tr><tr><td><p data-text-variant="body1"><span><span>driven_km_drives</span></span></p></td><td><p data-text-variant="body1"><span><span>float</span></span></p></td><td><p data-text-variant="body1"><span><span>Total kilometers driven during the month</span></span></p></td></tr><tr><td><p data-text-variant="body1"><span><span>duration_minutes_drives</span></span></p></td><td><p data-text-variant="body1"><span><span>float</span></span></p></td><td><p data-text-variant="body1"><span><span>Total duration driven in minutes during the month</span></span></p></td></tr><tr><td><p data-text-variant="body1"><span><span>activity_days</span></span></p></td><td><p data-text-variant="body1"><span><span>int</span></span></p></td><td><p data-text-variant="body1"><span><span>Number of days the user opens the app during the month&nbsp;</span></span></p></td></tr><tr><td><p data-text-variant="body1"><span><span>driving_days</span></span></p></td><td><p data-text-variant="body1"><span><span>int</span></span></p></td><td><p data-text-variant="body1"><span><span>Number of days the user drives (at least 1 km) during the month</span></span></p></td></tr></tbody></table></div><p><span><span></span></span></p></div></div></div></div></div></div></div></div>

<br><br><br>
## 2. Download the data and build a dataframe

In [1]:
#Import libraries and packages listed above
import pandas as pd
import numpy as np

In [5]:
# Load dataset into dataframe
df = pd.read_csv('waze_dataset.csv', index_col=0)

In [6]:
df.head(10)

,label,sessions,drives,total_sessions,n_days_after_onboarding,total_navigations_fav1,total_navigations_fav2,driven_km_drives,duration_minutes_drives,activity_days,driving_days,device
ID,,,,,,,,,,,,
0,retained,283,226,296.748273,2276,208,0,2628.845068,1985.775061,28,19,Android
1,retained,133,107,326.896596,1225,19,64,13715.920550,3160.472914,13,11,iPhone
2,retained,114,95,135.522926,2651,0,0,3059.148818,1610.735904,14,8,Android
3,retained,49,40,67.589221,15,322,7,913.591123,587.196542,7,3,iPhone
4,retained,84,68,168.247020,1562,166,5,3950.202008,1219.555924,27,18,Android
5,retained,113,103,279.544437,2637,0,0,901.238699,439.101397,15,11,iPhone
6,retained,3,2,236.725314,360,185,18,5249.172828,726.577205,28,23,iPhone
7,retained,39,35,176.072845,2999,0,0,7892.052468,2466.981741,22,20,iPhone
8,retained,57,46,183.532018,424,0,26,2651.709764,1594.342984,25,20,Android
9,churned,84,68,244.802115,2997,72,0,6043.460295,2341.838528,7,3,iPhone

<br><br><br>
## 3. Identify the variables

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14999 entries, 0 to 14998
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   label                    14299 non-null  object
 1   sessions                 14999 non-null  int64
 2   drives                   14999 non-null  int64
 3   total_sessions           14999 non-null  float64
 4   n_days_after_onboarding  14999 non-null  int64
 5   total_navigations_fav1   14999 non-null  int64
 6   total_navigations_fav2   14999 non-null  int64
 7   driven_km_drives         14999 non-null  float64
 8   duration_minutes_drives  14999 non-null  float64
 9   activity_days            14999 non-null  int64
 10  driving_days             14999 non-null  int64
 11  device                   14999 non-null  object
dtypes: float64(3), int64(7), object(2)
memory usage: 1.5+ MB

In [8]:
df.describe()

,sessions,drives,total_sessions,n_days_after_onboarding,total_navigations_fav1,total_navigations_fav2,driven_km_drives,duration_minutes_drives,activity_days,driving_days
count,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000
mean,80.633776,67.281152,189.964447,1749.837789,121.605974,29.672512,4039.340921,1860.976012,15.537102,12.179879
std,80.699065,65.913872,136.405128,1008.513876,148.121544,45.394651,2502.149334,1446.702288,9.004655,7.824036
min,0.000000,0.000000,0.220211,4.000000,0.000000,0.000000,60.441250,18.282082,0.000000,0.000000
25%,23.000000,20.000000,90.661156,878.000000,9.000000,0.000000,2212.600607,835.996260,8.000000,5.000000
50%,56.000000,48.000000,159.568115,1741.000000,71.000000,9.000000,3493.858085,1478.249859,16.000000,12.000000
75%,112.000000,93.000000,254.192341,2623.500000,178.000000,43.000000,5289.861262,2464.362632,23.000000,19.000000
max,743.000000,596.000000,1216.154633,3500.000000,1236.000000,415.000000,21183.401890,15851.727160,31.000000,30.000000

**Note:** There are some users we don't know if they're retained or churned

## 4. Assess quality of the data using standard data quality dimensions

### 4.1 Uniqueness

In [13]:
print("Number of duplicated values in the data = ", df.duplicated().sum())

Number of duplicated values in the data =  0

### 4.2 Consistency

In [65]:
for col in df.columns:
    if df[col].dtype == "object":
        print("Value counts of", df[[col]].value_counts(normalize=True))
        print("\n")

Value counts of label
retained    0.822645
churned     0.177355
dtype: float64


Value counts of device
iPhone     0.644843
Android    0.355157
dtype: float64

This dataset contains 82% retained users and 18% churned users.

### 4.3 Relavency

In [18]:
df.head()

,label,sessions,drives,total_sessions,n_days_after_onboarding,total_navigations_fav1,total_navigations_fav2,driven_km_drives,duration_minutes_drives,activity_days,driving_days,device
ID,,,,,,,,,,,,
0,retained,283,226,296.748273,2276,208,0,2628.845068,1985.775061,28,19,Android
1,retained,133,107,326.896596,1225,19,64,13715.920550,3160.472914,13,11,iPhone
2,retained,114,95,135.522926,2651,0,0,3059.148818,1610.735904,14,8,Android
3,retained,49,40,67.589221,15,322,7,913.591123,587.196542,7,3,iPhone
4,retained,84,68,168.247020,1562,166,5,3950.202008,1219.555924,27,18,Android

All variabels are related to our problem

### 4.4 Validity

In [28]:
for col in df.columns:
    if df[col].dtype == "int":
        print("Value counts of", df[[col]].value_counts(sort=False), "\n")

Value counts of sessions
0           105
1           162
2           179
3           186
4           191
           ...
671           2
690           1
693           1
725           1
743           1
Length: 469, dtype: int64

Value counts of drives
0         106
1         172
2         198
3         201
4         211
         ...
546         1
552         1
563         1
582         1
596         1
Length: 401, dtype: int64

Value counts of n_days_after_onboarding
4                          1
6                          1
7                          2
8                          3
9                          2
                          ..
3495                       6
3496                       6
3497                       3
3498                       7
3500                       4
Length: 3441, dtype: int64

Value counts of total_navigations_fav1
0                         3113
1                           74
2                           79
3                           78
4                           71
                          ...
1158                         1
1160                         1
1170                         1
1182                         1
1236                         1
Length: 730, dtype: int64

Value counts of total_navigations_fav2
0                         6105
1                          166
2                          197
3                          165
4                          175
                          ...
358                          1
375                          1
394                          1
396                          1
415                          1
Length: 287, dtype: int64

Value counts of activity_days
0                243
1                510
2                491
3                474
4                461
5                506
6                483
7                493
8                486
9                458
10               492
11               469
12               457
13               473
14               449
15               473
16               480
17               546
18               484
19               465
20               474
21               525
22               469
23               456
24               499
25               478
26               473
27               460
28               522
29               525
30               479
31               246
dtype: int64

Value counts of driving_days
0               1024
1                548
2                577
3                583
4                495
5                561
6                570
7                534
8                574
9                555
10               596
11               577
12               535
13               557
14               580
15               520
16               598
17               615
18               601
19               608
20               568
21               508
22               484
23               407
24               365
25               290
26               229
27               169
28               111
29                48
30                12
dtype: int64

In [26]:
for col in df.columns:
    if df[col].dtype == "float":
        print("Value counts of", df[[col]].value_counts(sort=False), "\n")

Value counts of total_sessions
0.220211          1
216.021004        1
215.582905        1
215.640880        1
215.653185        1
                 ..
112.271293        1
112.272365        1
112.286718        1
112.298256        1
1216.154633       1
Length: 14999, dtype: int64

Value counts of driven_km_drives
60.441250           1
4585.140811         1
4579.142011         1
4579.260490         1
4579.316016         1
                   ..
2625.041628         1
2625.991012         1
2626.224474         1
2626.358022         1
21183.401890        1
Length: 14999, dtype: int64

Value counts of duration_minutes_drives
18.282082                  1
2067.789713                1
2063.756773                1
2064.077381                1
2064.736442                1
                          ..
1031.013034                1
1031.023676                1
1031.071102                1
1031.207761                1
15851.727160               1
Length: 14999, dtype: int64

### 4.5 Completeness

In [29]:
df.isnull().sum()

label                      700
sessions                     0
drives                       0
total_sessions               0
n_days_after_onboarding      0
total_navigations_fav1       0
total_navigations_fav2       0
driven_km_drives             0
duration_minutes_drives      0
activity_days                0
driving_days                 0
device                       0
dtype: int64

In [71]:
df[df.label.isnull()][["device"]].value_counts(normalize=True)

device
iPhone     0.638571
Android    0.361429
dtype: float64

In [63]:
df[df.label.isnull()].describe()

,sessions,drives,total_sessions,n_days_after_onboarding,total_navigations_fav1,total_navigations_fav2,driven_km_drives,duration_minutes_drives,activity_days,driving_days
count,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000
mean,80.837143,67.798571,198.483348,1709.295714,118.717143,30.371429,3935.967029,1795.123358,15.382857,12.125714
std,79.987440,65.271926,140.561715,1005.306562,156.308140,46.306984,2443.107121,1419.242246,8.772714,7.626373
min,0.000000,0.000000,5.582648,16.000000,0.000000,0.000000,290.119811,66.588493,0.000000,0.000000
25%,23.000000,20.000000,94.056340,869.000000,4.000000,0.000000,2119.344818,779.009271,8.000000,6.000000
50%,56.000000,47.500000,177.255925,1650.500000,62.500000,10.000000,3421.156721,1414.966279,15.000000,12.000000
75%,112.250000,94.000000,266.058022,2508.750000,169.250000,43.000000,5166.097373,2443.955404,23.000000,18.000000
max,556.000000,445.000000,1076.879741,3498.000000,1096.000000,352.000000,15135.391280,9746.253023,31.000000,30.000000

**Note:** The quality of the data is very good. We just don't have the label of 700 users if they're retained or churned

<br><br><br>
### 5. Select the  most important variables for training our model

In [75]:
df.groupby("label").median()

,sessions,drives,total_sessions,n_days_after_onboarding,total_navigations_fav1,total_navigations_fav2,driven_km_drives,duration_minutes_drives,activity_days,driving_days
label,,,,,,,,,,
churned,59.0,50.0,164.339042,1321.0,84.5,11.0,3652.655666,1607.183785,8.0,6.0
retained,56.0,47.0,157.586756,1843.0,68.0,9.0,3464.684614,1458.046141,17.0,14.0

This offers an interesting snapshot of the two groups, churned vs. retained:

Retained users used the app on over twice as many days as churned users in the same time period.

The median churned user drove ~200 more kilometers and 2.5 more hours during the last month than the median retained user.

It seems that churned users had more drives in fewer days, and their trips were farther and longer in duration. Perhaps this is suggestive of a user profile.

In [80]:
# Group data by `label` and calculate the medians
medians_by_label = df.groupby('label').median()
print('Median kilometers per drive:')
# Divide the median distance by median number of drives
medians_by_label['driven_km_drives'] / medians_by_label['drives']

Median kilometers per drive:

label
churned     73.053113
retained    73.716694
dtype: float64

The median user from both groups drove ~73 km/drive.

In [83]:
# Divide the median distance by median number of driving days
medians_by_label["driven_km_drives"] / medians_by_label["driving_days"]

label
churned     608.775944
retained    247.477472
dtype: float64

The median user who churned drove 608 kilometers each day they drove last month, which is almost 250% the per-drive-day distance of retained users. The median churned user had a similarly disproporionate number of drives per drive day compared to retained users.

It is clear from these figures that, regardless of whether a user churned or not, the users represented in this data are serious drivers! It would probably be safe to assume that this data does not represent typical drivers at large. Perhaps the data&mdash;and in particular the sample of churned users&mdash;contains a high proportion of long-haul truckers.

In consideration of how much these users drive, it would be worthwhile to recommend to Waze that they gather more data on these super-drivers. It's possible that the reason for their driving so much is also the reason why the Waze app does not meet their specific set of needs, which may differ from the needs of a more typical driver, such as a commuter.

Finally, examine whether there is an imbalance in how many users churned by device type.

In [85]:
df.groupby('label')['device'].value_counts(normalize=True)

label     device
churned   iPhone     0.648659
          Android    0.351341
retained  iPhone     0.644393
          Android    0.355607
Name: device, dtype: float64

The ratio of iPhone users and Android users is consistent between the churned group and the retained group, and those ratios are both consistent with the ratio found in the overall dataset.